.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: aqua;
    color: blue;
    font-family: Arial, sans-serif;
}
.navbar .logo{
    font-size: 22px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
li{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    border: 5px solid blue;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(57, 48, 187, 0.53);
}
html, body{
    direction: flex;
    margin: 0;
}
footer{
    background: aqua;
    color: blue;
    padding: 20px 10px;
    text-align: center;
}
.foot-links{
    margin-bottom: 10px;
}
.foot-links a{
    color: blue;
    margin:0 10px ;
    text-decoration: none;
    opacity: 0.8;
}
.foot-links a:hover{
    opacity: 1;
    text-decoration: underline;
}
h1{
    color: blue;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}
p{
    color: rgb(2, 2, 135);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
a{
    color: rgb(2, 2, 135);
    font-weight: bold;
    border: 5px solid rgb(2, 2, 135);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(57, 48, 187, 0.53);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }